@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500&family=Merriweather:wght@300;400&display=swap');

/* Global style */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url('../images/banner-image.webp');
    background-size: cover;
    background-repeat: repeat-y;
    font-family: Merriweather, sans-serif;
    font-weight: 350;
    /* color: bisque; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Heading */

.heading {
    font-family: Alegreya SC, sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    /* color: #FFE990; */
    color: bisque;
    /* background-color: rgba(112, 151, 181, 0.9); */
    background-color: navy;
    border-bottom: 2px solid black;
    box-shadow: 0 0 5px #1E1E1E;
}