@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500&family=Merriweather:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Background banner image */
html {
    background-image: linear-gradient(rgba(255, 0, 0, 0.25),
            rgba(255, 0, 0, 0.25)), url('../images/banner-image.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Heading and logo */
.heading {
    margin: auto;
    width: 100vw;
    font-family: 'Alegreya SC', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: bisque;
    background-color: #150335;
    border-bottom: 2px solid wheat;
    box-shadow: 0 0 5px white;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

.heading a {
    text-decoration: none;
    color: bisque;
}

.heading a:hover {
    text-shadow: 3px 3px red;
}

/* Welcome container */
/* Main Container for quiz game */
.quiz-container {
    margin: auto;
    max-width: 700px;
    width: 80%;
    background-color: rgba(51, 36, 21, 0.7);
    padding: 25px;
    border-radius: 10px;
    border: 2px solid wheat;
    box-shadow: 0 0 10px 2px wheat;
}

/* Main page container content */
h2 {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Merriweather', sans-serif;
}

h2 em {
    font-weight: bold;
}

h2 em:hover {
    text-shadow: 3px 3px red;
    color: bisque;
}

p {
    color: white;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

/* Div holding styles for question container */
#question-container {
    margin-bottom: 20px;
}

/* Div holding question number */
#question-number {
    text-align: center;
    margin-bottom: 15px;
    color: whitesmoke;
    font-family: 'Merriweather', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* Div for the questions to be displayed */
#question-text {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Merriweather', sans-serif;
    color: white;
}

/* Styles for answer buttons */
#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    font-family: 'Merriweather', sans-serif;
}

button {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    background-color: #5adbb5;
    font-weight: bold;
    color: #150335;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0 0 3px white;
}

button:hover {
    cursor: pointer;
    box-shadow: 2px 2px white;
    transform: scale(1.1);
}

/* Div for start button, retry quiz button and Timer */
#controls-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#timer-container {
    display: flex;
    align-items: center;
}

#timer {
    background-color: #150335;
    border: solid 2px wheat;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family: 'Merriweather', sans-serif;
}

/* Styles for displaying right and wrong answers */
.correct-answer {
    color: green
}

.wrong-answer {
    color: red;
}

/* 404 Error message */
.error-message {
    line-height: 1.5;
    padding: 20px;
    color: white;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.error-message a {
    font-weight: bold;
    color: aqua;
}

.error-message a:hover {
    color: wheat;
}

/* Footer styles */
footer {
    background-color: #150335;
    margin-top: auto;
    padding-bottom: 14px;
    font-family: 'Alegreya SC', sans-serif;
    border-top: 2px solid wheat;
    color: bisque;
    height: auto;
    width: 100vw;
}

.social-networks {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    max-width: 300px;
}

.social-networks>li {
    display: inline;
    margin-top: 20px;
    width: 20%;
    list-style: none;
}

.social-networks i {
    color: bisque;
    font-size: 30px;
}

.copyright-wrapper {
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    display: inline;
}

.copyright-wrapper p {
    color: bisque;
    font-size: 17px;
}

p .copyright {
    margin-right: 5px;
    vertical-align: middle;
}

/* Media Queries */
/* Media query for screens with maximum width of 768px(typical for tablets) and down */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .quiz-container {
        max-width: 90%;
        margin: auto;
    }

    button:hover {
        cursor: pointer;
        box-shadow: 2px 2px white;
        transform: scale(1);
    }

    #answer-buttons {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

/* Media query for screens with a maximum width of 630px and down */
@media screen and (max-width: 630px) {
    .heading {
        font-size: 40px;
    }

    .logo {
        height: 34px;
        padding-right: 5px;
    }

    .quiz-container {
        margin: auto;
        max-width: 100%;
        padding: 20px;
    }

    #question-number {
        text-align: center;
        margin-bottom: 12px;
        color: whitesmoke;
        font-family: 'Merriweather', sans-serif;
        font-size: 16px;
        font-weight: bold;
    }

    #answer-buttons {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 14px;
    }

    #timer {
        background-color: #150335;
        margin: 5px;
        padding: 5px;
        font-weight: bold;
        font-size: 17px;
        color: white;
        font-family: 'Merriweather', sans-serif;
    }
}

/* Media query for screens with a maximum width of 480px and down */
@media screen and (max-width: 480px) {
    .heading {
        font-size: 36px;
    }

    .logo {
        height: 31px;
        padding-right: 5px;
    }

    .quiz-container {
        margin: auto;
        max-width: 100%;
        padding: 20px;
    }
}

/* Media query for screens with a maximum width of 380px */
@media screen and (max-width: 380px) {
    .heading {
        font-size: 34px;
    }

    .logo {
        height: 29px;
        padding-right: 5px;
    }

    .quiz-container {
        margin: auto;
        max-width: 100%;
        padding: 15px;
    }

    #answer-buttons {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 13px;
    }
}

/* Media query for screens with a maximum width of 320px */
@media screen and (max-width: 320px) {
    .heading {
        font-size: 30px;
    }

    .logo {
        height: 27px;
        padding-right: 5px;
    }

    .quiz-container {
        margin: auto;
        max-width: 100;
        padding: 15px;
    }

    #question-text {
        text-align: center;
        margin-bottom: 18px;
        font-family: 'Merriweather', sans-serif;
        color: white;
    }
}